ion-content {

	--padding-bottom: 70px;

}

ion-footer {

	position: fixed;
	bottom: 0;
	width: 100%;

	ion-toolbar {

		--background: var(--ion-color-light);
		padding: 8px;

	}

	ion-textarea {

		background: black;
		color: white;
		border-radius: 20px;
		padding: 8px 16px;
		max-height: 120px;

	}

}