<app-loading></app-loading>

<app-call></app-call>

<app-header [title] = "showChats ? 'Chats' : 'Contacts'"></app-header>

<ion-content class="ion-padding">

	<ion-segment [(ngModel)]="showChats" (ionChange)="handleSegmentChange($event)" class="custom-segment">

		<ion-segment-button value="chats">

			<ion-label>Chats</ion-label>

		</ion-segment-button>

		<ion-segment-button value="contacts">

			<ion-label>Contacts</ion-label>

		</ion-segment-button>

	</ion-segment>

	@if (showChats) {

		<app-chat-list></app-chat-list>

	}@else{

		<app-contact-list></app-contact-list>

	}

</ion-content>